* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    padding: 20px 10px 0 10px;
}

header {
    width: 95%;
    height: 50px;
    background-color: #249ac8;
    margin: auto;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
}

header h1 {
    font-size: 20px;
    color: aliceblue;
}

main {
    width: 100%;
    margin-top: 20px;
}

.products-input {
    width: 250px;
    height: 30px;
    border-color: #7f7d7d;
    border-radius: 3px;
    outline: none;
    
}

.product-info-input {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.product-info-input label {
    font-size: 14px;
    margin-bottom: 3px;
    font-weight: bold;
}

.product-create-containter {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.file-input__input {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
  }
  
  .file-input__label {
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 600;
    color: #fff;
    font-size: 14px;
    padding: 10px 12px;
    background-color: #4245a8;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.25);
    width: 250px;
  }
  
  .file-input__label svg {
    height: 16px;
    margin-right: 4px;
  }
  

  section {
    margin-top: 25px;
  }

  .all-product-header {
    width: 95%;
    height: 50px;
    background-color: #249ac8;
    margin: auto;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px 0 10px;
  }

.all-product-header  h1 {
    font-size: 12px;
    color: aliceblue;
    width: 13%;
} 

.all-product {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    height: 50px;
    margin: auto;
    background-color: white;
    padding: 10px 10px 10px 10px;
    border-radius: 5px;
    box-shadow: rgba(34, 58, 61, 0.1) 0px 4px 16px, rgb(175, 220, 242) 0px 8px 32px;
    margin-bottom: 20px;
    overflow: hidden;
}

.all-product h1 {
    font-size: 12px;
    width: 13%;
    word-break: break-all;
}

.description-container {
    width: 13%;
    max-height: 100%; 
    overflow-y: auto;
  }

  .description-container h1 {
    width: 100%;
  }

.all-product img {
    width: 13%;
    height: 50px;
}

.all-product-pos {
    margin-top: 15px;
}


.delete-product {
    width: 13%;
}

.delete-product button {
    background-color: transparent;
    outline: none;
    border: none;
    color: red;
    cursor: pointer;
}


.go-home-page {
    margin-left: 20px;
}